<form action="<%= session_url %>" method="POST">

    <label>Username:
        <input type="text" name="username" value="">
    </label>
    <br>
    <label>Password:
        <input type="password" name="password" value="">
    </label>
    <br>
    <input type="submit" value="Login">
</form>