
@font-face {
    font-family: 'noto';
    src: url('./Noto_Sans_KR/NotoSansKR-Medium.otf')
}

html {
    font-family: noto;
}

.date {
    color: rgb(94, 94, 94);
}

#datebox {
    width: 180px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: rgb(177, 224, 177);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#clockbox {
    width: 180px;
    height: 90px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(177, 224, 177);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
}

#clockbox h3 {
    text-align: center;
    color: rgb(94, 94, 94);
}

#clockbox h4 {
    font-weight: bold;
    color: rgb(94, 94, 94);
}

.clock{
    display: flex;
    flex-direction: column;
}