<div class="masthead"> 
    <div class="language-nav">
        <ul >
            <li><a href=""></a>CSS</li> 
            <li><a href=""></a>HTML</li> 
            <li><a href=""></a>Javascript</li> 
            <li><a href=""></a>Ruby</li> 
        </ul>
    </div>
    
 
    <img src="assets/AA_Times_Logo.png" alt="AA_Times_Logo" class="logo">
    <div >
        <ul class="masthead-links">
            <li> Tuesday, October 18, 2016</li>
            
            <li><a href=""></a> <i class="far fa-newspaper"></i> <button type="button">Today’s Paper</li>
            <li><a href=""></a> <i class="fas fa-video"></i> <button type="button"> Video </button>  </li>
            <li><a href=""></a> 77°F</li>
            <li><a href=""></a> AAO <strong>+100%</strong></li>
        </ul>
    </div>
   





</div>
